extends layout

block content
  .card-group.pt-5
    .card.bg-primary
      img.card-img-top(src='/img/BladeRunner.jpg', alt='Card image cap')
      .card-body
        h4.card-title #1 - Blade Runner 2049
        h6.card-title Sinopsis
        p.card-text
          | Han pasado 30 años desde los acontecimientos ocurridos en Blade Runner (1982). El oficial K (Ryan Gosling), un blade runner caza-replicantes del Departamento de Policía de Los Ángeles, descubre un secreto que ha estado enterrado durante mucho tiempo y que tiene el potencial de llevar a la sociedad al caos. Su investigación le conducirá a la búsqueda del legendario Rick Deckard (Harrison Ford), un antiguo blade runner en paradero desconocido, que lleva desaparecido 30 años.
        h6.card-title Creditos Y Reparto
        p.card-text Actores: Harrison Ford, Ryan Gosling
        p.card-text Directores: Denis Villeneuve
        h6.card-title Trailer
          .card-footer
            iframe(width='560', height='315', src='https://www.youtube.com/embed/gCcx85zbxz4', frameborder='0', allowfullscreen='')

    .card.bg-secondary
      img.card-img-top(src='/img/Kingsman_TGC.jpg', alt='Card image cap')
      .card-body
        h4.card-title #2 - Kingsman: The Golden Circle
        h6.card-title Sinopsis
        p.card-text
          | El servicio secreto” nos presentó el mundo de Kingsman, una agencia internacional de inteligencia que, por ser independiente, opera al más alto nivel de discreción y cuyo objetivo principal es mantener el mundo a salvo. En “Kingsman: El Círculo Dorado”, nuestros héroes se enfrentan a un nuevo reto. Cuando sus oficinas centrales son destruidas y el mundo es tomado como rehén, su viaje los lleva al descubrimiento de una organización espía aliada en los EE UU llamada Statesman, que se remonta a la época en la que ambas fueron fundadas. En una nueva aventura que pone a prueba al máximo la fuerza e inteligencia de sus agentes, estas dos organizaciones secretas elite se unen para derrotar a un despiadado enemigo común, y, así, poder salvar al mundo, algo que ha pasado a ser un poco habitual para Eggsy.
        h6.card-title Creditos Y Reparto
        p.card-text Actores: Colin Firth, Taron Egerton, Julianne Moore
        p.card-text Directores: Matthew Vaughn
        h6.card-title Trailer
          .card-footer
            iframe(width='560', height='315', src='https://www.youtube.com/embed/6Nxc-3WpMbg', frameborder='0', allowfullscreen='')

  .card-group
    .card.bg-secondary
      img.card-img-top(src='/img/Asesino_MV.jpg', alt='Card image cap')
      .card-body
        h4.card-title #3 - Asesino: Mision Venganza
        h6.card-title Sinopsis
        p.card-text
          | La trama de American Assassin gira en torno Mitch Rapp, un mítico agente de la CIA. Mitch era un buen estudiante universitario, además de un buen deportista que se formaba en un colegio especial. Un día fue reclutado en un programa de élite del gobierno, que se dedica a realizar operaciones encubiertas. A raíz de esto y del asesinato de su novia, la vida de Rapp cambia por completo y se convierte en un hombre peligroso, después de haberse formado con unas habilidades concretas para matar a sus enemigos. Ahora Mitch Rapp, renace con una nueva misión: venganza.
        h6.card-title Creditos Y Reparto
        p.card-text Actores: Scott Adkins, Dylan O'Brien
        p.card-text Directores: Michael Cuesta
        h6.card-title Trailer
          .card-footer
            iframe(width='560', height='315', src='https://www.youtube.com/embed/SqXvNsvQ7oo', frameborder='0', allowfullscreen='')

    .card.bg-primary
      img.card-img-top(src='/img/Condorito.jpg', alt='Card image cap')
      .card-body
        h4.card-title #4 - Condorito: La Película
        h6.card-title Sinopsis
        p.card-text
          | En esta entrega, el pajarraco más querido de Pelotillehue emprenderá, junto a su tenaz sobrino Coné, una peligrosa aventura para rescatar a su desaparecida suegra Doña Tremebunda, abducida misteriosamente por una banda alienígena. Lo que no ha tomado en cuenta es que, mientras intenta salvar a la madre de Yayita, ésta será tentada románticamente por el insistente Pepe Cortisona.
        h6.card-title Creditos Y Reparto
        p.card-text Directores: Alex Orrelle, Eduardo Schuldt
        h6.card-title Trailer
          .card-footer
            iframe(width='560', height='315', src='https://www.youtube.com/embed/2K5pQcCvJPg', frameborder='0', allowfullscreen='')

  .card-group.mb-5.pb-5
    .card.bg-primary
      img.card-img-top(src='/img/MonsterFamily.jpg', alt='Card image cap')
      .card-body
        h4.card-title #5 - Monster Family
        h6.card-title Sinopsis
        p.card-text
          | La Familia Wünshmann no es exactamente una familia feliz pero mamá Emma animará a todos a dejar sus diferencias de lado e ir juntos a un paquete temático. Luego de una broma inocente con una muñeca, que resulta ser la bruja Babayaga, los Wünshmann son convertidos en monstruos. Mamá Emma es un vampiro, papá Frank en Frankenstein, la hijita Fee en una momia e hijo Max en un lobo. Y así es como un viaje normal a través de un tren fantasma se transforma una aventura ridículamente espeluznante. ¿Encontrará la familia Wünshmann su final feliz?
        h6.card-title Creditos Y Reparto
        p.card-text Directores: Holger Tappe
        h6.card-title Trailer
          .card-footer
            iframe(width='560', height='315', src='https://www.youtube.com/embed/7Wdkg-x5FsU', frameborder='0', allowfullscreen='')

    .card.bg-secondary
      img.card-img-top(src='/img/Thor_Ragnarok.jpg', alt='Card image cap')
      .card-body
        h4.card-title #6 - Thor: Ragnarok
        h6.card-title Sinopsis
        p.card-text
          | En THOR - RAGNAROK, de Marvel Studios, Thor se encuentra atrapado en el otro extremo del universo sin su poderoso martillo. Envuelto en una carrera contra el tiempo, deberá regresar a Asgard y detener el Ragnarok — la destrucción de su planeta y el fin de la civilización asgardiana — en manos de una nueva amenaza todopoderosa: la despiadada Hela. Pero, antes, debe sobrevivir a una mortal competencia de gladiadores que lo enfrentará a su antiguo aliado y compañero Vengador... ¡el increíble Hulk!
        h6.card-title Creditos Y Reparto
        p.card-text Actores: Chris Hemsworth, Tom Hiddleston
        p.card-text Directores: Taika Waititi
        h6.card-title Trailer
          .card-footer
            iframe(width='560', height='315', src='https://www.youtube.com/embed/ue80QwXMRHg', frameborder='0', allowfullscreen='')
