nav.navbar.navbar-expand-lg.navbar-dark.bg-dark
  h3.navbar-brand(href='#') Follow Us
  button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarNav', aria-controls='navbarNav', aria-expanded='false', aria-label='Toggle navigation')
    span.navbar-toggler-icon
  #navbarNav.collapse.navbar-collapse
    ul.navbar-nav
      li.nav-item
        a.nav-link(href='#')
          | @DoCreatness
          span.sr-only (current)
      li.nav-item
        a.nav-link(href='#') Features
      li.nav-item
        a.nav-link(href='#') Pricing
