extends layout

block content
  .card-group.pb-5.mb-5.pt-5.mt-5
    .card.bg-primary
      img.card-img-top(src='/img/ResidentEvil7.jpg', alt='Card image cap')
      .card-body
        h4.card-title Best Terror Games October 2017
        p.card-text
          | We're arriving Halloween and it is the perfect time to list some spooky games, some are new but others are in our memories for quite a long time.
      .card-footer
        a.btn.btn-dark(href='/games/horror_games') Read More...
    .card.bg-secondary
      img.card-img-top(src='/img/ACOrigin.jpg', alt='Card image cap')
      .card-body
        h4.card-title Upcoming Games Last Quarter 2017
        p.card-text
          | This last months are pretty much set in terms of release dates, so we got a clear idea of what is coming our way. In this list we choose the best games in our personal opinion.
      .card-footer
        a.btn.btn-dark(href='/games/upcoming_games_2017') Read More...
    .card.bg-primary
      img.card-img-top(src='/img/HZD2.jpg', alt='Card image cap')
      .card-body
        h4.card-title Best Upcoming Open World Games 2017
        p.card-text
          | This last months are pretty much set in terms of release dates, so we got a clear idea of what is coming our way. In this list we choose the best games in our personal opinion.
      .card-footer
        a.btn.btn-dark(href='/games/upcoming_owg_2017') Read More...
