extends layout

block content
  .card.bg-dark.text-white.pt-5.mt-5.border-0
    img.card-img(src='/img/TotalWar_Warhammer_2.jpg', alt='Card image')
    .card-img-overlay
      .card-body
      h2.card-title.pt-5 Total War: Warhammer II
      h4.card-text Best Game Of The Week
      .card-footer.pt-5.mt-5
        iframe(width='560', height='315', src='https://www.youtube.com/embed/-JyfkvjlgKY', frameborder='0', allowfullscreen='')

  .container.embed-responsive.embed-responsive-21by9
    iframe.embed-responsive-item(width='600', height='450', frameborder='0', style='border:0', src='https://www.google.com/maps/embed/v1/search?q=cines&key=AIzaSyCjZcMHsuYCakalOnUsP2sdiSB5zbckRMs', allowfullscreen='')

  .card-group.pb-5.mb-5
    .card.bg-primary
      img.card-img-top(src='/img/ResidentEvil7.jpg', alt='Card image cap')
      .card-body
        h4.card-title Best Terror Games October 2017
        p.card-text
          | We're arriving Halloween and it is the perfect time to list some spooky games, some are new but others are in our memories for quite a long time.
      .card-footer
        a.btn.btn-dark(href='/games/horror_games') Read More...
    .card.bg-secondary
      img.card-img-top(src='/img/IT.jpg', alt='Card image cap')
      .card-body
        h4.card-title Best Movies October 2017
        p.card-text
          | Some interesting movies are coming out this month, some remakes (hopefully they didnt screw it) and one of my most anticipated ones.
      .card-footer
        a.btn.btn-dark(href='/movies/best_october_2017') Read More...
    .card.bg-primary
      img.card-img-top(src='/img/ACOrigin.jpg', alt='Card image cap')
      .card-body
        h4.card-title Upcoming Games Last Quarter 2017
        p.card-text
          | This last months are pretty much set in terms of release dates, so we got a clear idea of what is coming our way. In this list we choose the best games in our personal opinion.
      .card-footer
        a.btn.btn-dark(href='/games/upcoming_games_2017') Read More...
