extends layout

block content
  .card-group.pt-5
    .card.bg-primary
      img.card-img-top(src='/img/Agony.jpg', alt='Card image cap')
      .card-body
        h4.card-title #1 - Agony
        h6.card-title Plataform: PC
        h6.card-title Release: Spring
        p.card-text
          | This first-person survival horror game skips the circumstances of your death and drops you straight into the cataclysmic depths of hell. Unlike Doom, you don’t have a BFG to fend off the grotesque demons wandering this ghastly hellscape, which based on the early trailers makes id’s shooter look like Disneyland. MadMind Studio casts players as a tormented soul with no memory if its past. By possessing the tortured and deformed monstrosities in this realm of madness, you must journey through blood, flesh, and flame to find the mythical Red Goddess. Only she knows how to escape. Like many of the games on this list, Agony is also coming to VR.
        h6.card-title Trailer:
          .card-footer
            iframe.mt-1.pr-2(width='560', height='315', src='https://www.youtube.com/embed/lL3ZS6TFyK0', frameborder='0', allowfullscreen='')
    .card.bg-secondary
      img.card-img-top(src='/img/AD_Infinitum.jpg', alt='Card image cap')
      .card-body
        h4.card-title #2 - AD Infinitum
        h6.card-title Plataform: PC
        h6.card-title Release: TBA
        p.card-text
          | As if World War I and the brutality of trench warfare weren't scary enough, Ad Infinitum adds in some Lovecraftian horror to the mix. We don't know much about this game outside of its terrifying reveal trailer, but based on what little we've seen, we're definitely on board.
        h6.card-title Trailer:
          .card-footer
            iframe(width='560', height='315', src='https://www.youtube.com/embed/eprVKIH4Xxs', frameborder='0', allowfullscreen='')

  .card-group
    .card.bg-secondary
      img.card-img-top(src='/img/BendyAndTheInkMachine.jpg', alt='Card image cap')
      .card-body
        h4.card-title #3 - Bendy and the Ink Machine: Chapter Three
        h6.card-title Plataform: PC
        h6.card-title Release: September 2017
        p.card-text
          | If the smudged black-and-white and dead-eyed stare of old-timey cartoon characters have ever given you the creeps, Bendy and the Ink Machine is probably for you. The third chapter of this stylish, puzzle-heavy survival horror is due soon.
        h6.card-title Trailer:
          .card-footer
            iframe(width='560', height='315', src='https://www.youtube.com/embed/bzj007eqD-U', frameborder='0', allowfullscreen='')
    .card.bg-primary
      img.card-img-top(src='/img/CallOfCthulhu.jpg', alt='Card image cap')
      .card-body
        h4.card-title #4 - Call of Cthulhu: The Official video Game
        h6.card-title Plataform: PC, PS4, Xbox One
        h6.card-title Release: 2017
        p.card-text
          | The full title of this one is kind of funny considering the existence of another very good Cthulhu game, Call of Cthulhu: Dark Corners of the Earth, but instead of simply adapting HP Lovecraft's most iconic story, Call of Cthulhu: The Official Video Game is also an adaptation of the tabletop board game.
        h6.card-title Trailer:
          .card-footer
            iframe(width='560', height='315', src='https://www.youtube.com/embed/WF2gbDr4lMI', frameborder='0', allowfullscreen='')

  .card-group
    .card.bg-primary
      img.card-img-top(src='/img/DaysGone.jpg', alt='Card image cap')
      .card-body
        h4.card-title #5 - Days Gone
        h6.card-title Plataform: PS4
        h6.card-title Release: TBA
        p.card-text
        | Unlike most zombie apocalypse stories, Days Gone is told from the perspective of a character who prefers the danger of a rogue lifestyle than the relative safety and security of a survivor's camp. It should be interesting to see what Days Gone can do with a genre that's been done to death (sorry) at this point, especially in a gorgeous open-world setting.
      h6.card-title Trailer:
        .card-footer
          iframe(width='560', height='315', src='https://www.youtube.com/embed/6uED22JERB8', frameborder='0', allowfullscreen='')
    .card.bg-secondary
      img.card-img-top(src='/img/Detention.jpg', alt='Card image cap')
      .card-body
        h4.card-title #6 - Detention
        h6.card-title Plataform: PC, PS4
        h6.card-title Release: 2017
        p.card-text
          | Set in Taiwan during the turbulent 1960s, Detention is a 2D side-scrolling horror game that feels closest in tone, atmosphere, and puzzle-solving to Silent Hill than most horror games that aspire to it. It's already out on Steam, but will be headed to PlayStation 4 sometime this year.
        h6.card-title Trailer:
          .card-footer
            iframe(width='560', height='315', src='https://www.youtube.com/embed/8mJQ_LH2n0k', frameborder='0', allowfullscreen='')

  .card-group
    .card.bg-secondary
      img.card-img-top(src='/img/TheEvilWithin2.png', alt='Card image cap')
      .card-body
        h4.card-title #7 - The Evil Within 2
        h6.card-title Plataform: PC, PS4, Xbox One
        h6.card-title Release: October 13, 2017
        p.card-text
          | The highly-anticipated sequel to Shinji Mikami's ultraviolent 2014 survival horror, The Evil Within 2 looks even weirder and scarier than the original. Players take on the role of detective Sebastian Castellanos once again, as he ventures off to save his daughter and battle past traumas and new horrors along the way.
        h6.card-title Trailer:
          .card-footer
            iframe(width='560', height='315', src='https://www.youtube.com/embed/nHrLWFkd60Y', frameborder='0', allowfullscreen='')
    .card.bg-primary
      img.card-img-top(src='/img/Hello_Neighbor.jpg', alt='Card image cap')
      .card-body
        h4.card-title #8 - Hello Neighbor
        h6.card-title Plataform: PC, Xbox One
        h6.card-title Release: December 8, 2017
        p.card-text
          | Hello Neighbor is definitely one of the strangest games on this list – an unconventional stealth horror that's all about sneaking into your creepy neighbor's basement. The AI-controller neighbor is smart and will adapt his behavior to your own strategies each time you fail, making it harder to rely on the same patterns to succeed.
        h6.card-title Trailer:
          .card-footer
            iframe(width='560', height='315', src='https://www.youtube.com/embed/pVJBw9PBreI', frameborder='0', allowfullscreen='')

  .card-group.pb-5
    .card.bg-primary
      img.card-img-top(src='/img/Hollow.jpg', alt='Card image cap')
      .card-body
        h4.card-title #9 - Hollow
        h6.card-title Plataform: PC, Switch
        h6.card-title Release: 2017
        p.card-text
          | It seems like there's no shortage of sci-fi horror lately. Hollow drops players into the role of an amnesiac pilot on a space mining ship, who wakes up to find that the entire vessel is missing its crew... but it isn't completely empty.
        h6.card-title Trailer:
          .card-footer
            iframe(width='560', height='315', src='https://www.youtube.com/embed/lAC-e6dglGI', frameborder='0', allowfullscreen='')
    .card.bg-secondary
      img.card-img-top(src='/img/Hunt_Showdown.jpg', alt='Card image cap')
      .card-body
        h4.card-title #10 - Hunt: Showdown
        h6.card-title Plataform: PC
        h6.card-title Release: TBA
        p.card-text
          | Hunt: Showdown might seem like just another co-op survival game, but the asymmetrical shooter has some promising twists up its sleeves, not to mention one of the most terrifying giant spiders we've seen in a horror game. (Seriously, that thing is way too realistic. We hate it.)
        h6.card-title Trailer:
          .card-footer
            iframe(width='560', height='315', src='https://www.youtube.com/embed/N4BSWi_hLKw', frameborder='0', allowfullscreen='')
