extends layout

block content
  .card-group.pb-5.mb-5.pt-5.mt-5
    .card.bg-primary
      img.card-img-top(src='/img/IT.jpg', alt='Card image cap')
      .card-body
        h4.card-title Best Movies October 2017
        p.card-text
          | Some interesting movies are coming out this month, some remakes (hopefully they didnt screw it) and one of my most anticipated ones.
      .card-footer
        a.btn.btn-dark(href='/movies/best_october_2017') Read More...
