extends layout

block content
  .main.container.clearfix
    .row
      .col-md-12.col-md-offset-2.mt-5.pt-5
        h1.text-secondary.float-left #{name}
      .col-md-12.col-md-offset-2.mt-4.pt-4
        img.avatar.img-circle.hidden-xs-down(src='/img/avatar.png', alt='avatar')
