extends layout

block content
  .card-group.pt-5.mt-5
    .card.bg-primary
      img.card-img-top(src='/img/MiddleEarth_SOW.png', alt='Card image cap')
      .card-body
        h4.card-title #1 - Middle-earth: Shadow of War
        h6.card-title Plataform: PC, PS4, Xbox One
        h6.card-title Release: October 10, 2017
        p.card-text
          | The Tolkien's Creed open-world action in Middle-earth: Shadow of Mordor easily warranted a sequel - we just didn't know when it was coming, until now. Middle-Earth: Shadow of War brings back the undying ranger Talion and his fused wraith Celebrimbor, who have forged a new Ring of Power despite those things always ending in tears. The stellar Nemesis system will be making a return, where ordinary orcs may develop into bitter rivals over the course of many battles, and new Nemesis Fortresses serve as these villains’ imposing domains. But never fear - you'll have your own loyal army at your disposal to raid these strongholds - all good practice for when you finally have the forces you need to take on Sauron himself.
        h6.card-title Trailer:
          .card-footer
            iframe(width='560', height='315', src='https://www.youtube.com/embed/oQ7aLU6rHLk', frameborder='0', allowfullscreen='')
    .card.bg-secondary
      img.card-img-top(src='/img/GrandTurismoSport.png', alt='Card image cap')
      .card-body
        h4.card-title #2 - Gran Turismo Sport
        h6.card-title Plataform: PS4
        h6.card-title Release: October 17, 2017
        p.card-text
          | Sony's Gran Turismo series is a legend in the racing genre, but players itching for ultra-realistic driving simulations have a lot to choose from these days, with competitors like Forza, Driveclub, and Project CARS taking advantage of GT's absence on modern consoles. With any luck, Gran Turismo Sport can bring GT back into the limelight with the series' PS4 debut. It's been a long time coming, but GTS should have the kind of obsessive detail, lifelike handling, gorgeous vehicles, and stupidly pretty tracks (with 4K and HDR support on PS4 Pro, of course) that racing sim fans have come to expect.
        h6.card-title Trailer:
          .card-footer
            iframe(width='560', height='315', src='https://www.youtube.com/embed/VLh3taHXWxI', frameborder='0', allowfullscreen='')

  .card-group
    .card.bg-secondary
      img.card-img-top(src='/img/FireEmblemWarriors.jpg', alt='Card image cap')
      .card-body
        h4.card-title #3 - Fire Emblem Warriors
        h6.card-title Plataform: Switch
        h6.card-title Release: October 20, 2017
        p.card-text
          | Even the greatest Fire Emblem tacticians need a break sometimes - so after a long day of planning out turns and optimizing your unit composition, why not unwind with some mindless button-mashing action? Fire Emblem Warriors is just like Hyrule Warriors: Nintendo lending a beloved series to Koei Tecmo for the Musou game treatment, in which your chosen FE hero slashes through droves of enemy soldiers with a flurry of quick strikes and special attacks. Here's to hoping your personal favorite Fire Emblem fighter gets their chance to shine as a one-warrior army against legions of puny foes.
        h6.card-title Trailer:
          .card-footer
            iframe(width='560', height='315', src='https://www.youtube.com/embed/R8Ia_PCKPpY', frameborder='0', allowfullscreen='')
    .card.bg-primary
      img.card-img-top(src='/img/HiddenAgenda.jpg', alt='Card image cap')
      .card-body
        h4.card-title #4 - Hidden Agenda
        h6.card-title Plataform: PS4
        h6.card-title Release: October 24, 2017
        p.card-text
          | Until Dawn developer Supermassive Games noticed that many players were enjoying its single-player horror story in groups, deciding the teenage victims' fates via committee - so Hidden Agenda goes all-in on the idea of party play where everyone gets a say. This crime thriller revolves around PlayLink, Sony's venture into You Don't Know Jack-style games where any smartphone can be used as a controller, to let up to six people vote on life-or-death decisions as the story plays out. To spice things up, some players will secretly receive private objective cards - a Hidden Agenda, if you will - that incentivizes them to push the plot in certain directions, as you all try to outwit a Jigsaw-like serial killer called The Trapper.
        h6.card-title Trailer:
          .card-footer
            iframe(width='560', height='315', src='https://www.youtube.com/embed/WgBuEJ7FAqQ', frameborder='0', allowfullscreen='')

  .card-group
    .card.bg-primary
      img.card-img-top(src='/img/SuperMarioOdyssey.jpg', alt='Card image cap')
      .card-body
        h4.card-title #5 - Super Mario Odyssey
        h6.card-title Plataform: Switch
        h6.card-title Release: October 27, 2017
        p.card-text
          | Super Mario Odyssey should be a grand debut for Nintendo's mascot on the Switch, whisking Mario away to different worlds involving rainbow-colored cookery, dancing sprinkler robots, and the bustling metropolis of New Donk City. The platforming plumber also has a crucial new move, courtesy of Cappy, the spirit possessing his trademark red hat: he can possess any NPC in the world just by tossing his cap at them, opening up completely new avenues for gameplay. If The Legend of Zelda: Breath of the Wild was like Nintendo's Skyrim, then Super Mario Odyssey is like its Dishonored.
        h6.card-title Trailer:
          .card-footer
            iframe(width='560', height='315', src='https://www.youtube.com/embed/wGQHQc_3ycE', frameborder='0', allowfullscreen='')
    .card.bg-secondary
      img.card-img-top(src='/img/ACOrigin.jpg', alt='Card image cap')
      .card-body
        h4.card-title #6 - Assassins's Creed Origin
        h6.card-title Plataform: PC, PS4, Xbox One
        h6.card-title Release: October 27, 2017
        p.card-text
          | If you thought Assassin's Creed had grown a bit stale in recent years, you're not alone - but after the Brotherhood took a year-long hiatus, Assassin's Creed Origins looks like it has the goods to revitalize the long-running series. You play as Bayek, one of the earliest Assassins, undertaking secret missions in a gorgeous, sunny and shining rendition of ancient Egypt. Developed by much of the same team that made Black Flag, Origins does away with tired AC elements like sync towers and minimap bloat to refocus on giant vistas to explore and satisfying action RPG combat to master. You can even ride a horse (or camel) into battle, trading in the stealth approach for a stylish entrance.
        h6.card-title Trailer:
          .card-footer
            iframe(width='560', height='315', src='https://www.youtube.com/embed/cUuKIpCM2o0', frameborder='0', allowfullscreen='')

  .card-group
    .card.bg-secondary
      img.card-img-top(src='/img/CODWW2.jpg', alt='Card image cap')
      .card-body
        h4.card-title #7 - Call Of Duty WWII
        h6.card-title Plataform: PC, PS4, Xbox One
        h6.card-title Release: November 3, 2017
        p.card-text
          | Another year, another Call of Duty - but after all the excitement for futuristic combat zones seems to be tapped out, Activision is finally taking COD back to World War 2. Call of Duty: WW2 puts you in the laced-up boots of two soldiers with the 1st Infantry Division, also known as "The Bloody First", who famously led the invasion of Normandy on D-Day. Expect lots of grit and grime, incoming airstrikes, lumbering tanks, and brutal bludgeoning of Nazi skulls all seen from first-person. There's also a multiplayer story mode plainly named 'War' in addition to the usual: a dramatic, blockbuster-grade single-player campaign and intensely competitive PvP multiplayer in the trenches.
        h6.card-title Trailer:
          .card-footer
            iframe(width='560', height='315', src='https://www.youtube.com/embed/a9ITIaKzG3A', frameborder='0', allowfullscreen='')
    .card.bg-primary
      img.card-img-top(src='/img/SonicForces.jpg', alt='Card image cap')
      .card-body
        h4.card-title #8 - Sonic Forces
        h6.card-title Plataform: PC, PS4, Xbox One, Switch
        h6.card-title Release: November 7, 2017
        p.card-text
          | The new Sonic game formerly known as simply "Project Sonic 2017" is looking appropriately speedy, but we're wondering if its 3D platforming can possibly live up to the retro, 2D greatness of Sonic Mania. A welcome hook this time around is the ability to play as a new hero of your own creation to team up with Modern and Retro Sonic, to the delight of fan artists everywhere. If you haven't already, Google search your name with "the Hedgehog" at the end to get a sneak preview of what that might look like.
        h6.card-title Trailer:
          .card-footer
            iframe(width='560', height='315', src='https://www.youtube.com/embed/9tDMLXn99P4', frameborder='0', allowfullscreen='')

  .card-group.pb-5.mb-5
    .card.bg-primary
      img.card-img-top(src='/img/SWBF2.jpg', alt='Card image cap')
      .card-body
        h4.card-title #9 - Star Wars Battlefront 2
        h6.card-title Plataform: PC, PS4, Xbox One
        h6.card-title Release: November 17, 2017
        p.card-text
          | The rebooted Star Wars Battlefront laid a fantastic foundation for an FPS that makes players feel like supporting troops (or iconic heroes and villains) within scenes from the films - but Star Wars Battlefront 2 sounds like it'll be the real deal. On top of the expansive multiplayer conflicts - now with heroes pulled from all three film eras - this sequel includes a full-on single-player campaign, played from the perspective of Empire elite soldier Iden Versio. Also, space battles will be making their triumphant return, so you can zoom around blasting bogies in an X-Wing or TIE Fighter. We got a ton of additional insight at this year's Star Wars Celebration, so be sure to check out these 8 Star Wars Battlefront 2 things you need to know (including the addition of rideable tauntauns as vehicles).
        h6.card-title Trailer:
          .card-footer
            iframe(width='560', height='315', src='https://www.youtube.com/embed/_q51LZ2HpbE', frameborder='0', allowfullscreen='')
    .card.bg-primary
      img.card-img-top(src='/img/NfS_Payback.jpg', alt='Card image cap')
      .card-body
        h4.card-title #9 - Need For SpeedÑ Payback
        h6.card-title Plataform: PC, PS4, Xbox One
        h6.card-title Release: November 10, 2017
        p.card-text
          | Take the over-the-top drama and lovable characters of the Fast and the Furious films, then sprinkle in plenty of slow-motion car crashes a la the beloved Burnout games. What you get is Need for Speed: Payback, an open-world racer with tons of cinematic flair mixed into its riveting chase scenes and breakneck getaways. There's also a heavy emphasis on car customization, as your three-character crew slowly amasses a giant garage full of sick rides.
        h6.card-title Trailer:
          .card-footer
            iframe(width='560', height='315', src='https://www.youtube.com/embed/CuE9eQJY0BU', frameborder='0', allowfullscreen='')
