extends layout

block content
  .card-group.pt-5
    .card.bg-primary
      img.card-img-top(src='/img/RDR2.jpg', alt='Card image cap')
      .card-body
        h4.card-title #1 - Red Dead Redemption 2
        p.card-text
          | We had to put it first. Why? Because it’s Rockstar, and it’s Red Dead Redemption. When the industry-leading developer/publisher  teased the long-long-awaited sequel to 2010’s western epic Red Dead Redemption, the internet exploded. Hype reached enormous levels not seen in the industry for months and months. Red Dead Redemption 2 is one of those rare games that the demonstrates the power of Rockstar to generate mainstream interest in the industry. Red Dead 2 is set to be released in the fall of 2017. A trailer was dropped for the game that was incredibly exciting – although pretty short. The sequel is set include a incredibly crafted narrative with online components.
        h6.card-title Trailer:
          .card-footer
            iframe(width='560', height='315', src='https://www.youtube.com/embed/F63h3v9QV7w', frameborder='0', allowfullscreen='')

    .card.bg-secondary
      img.card-img-top(src='/img/Zelda_botW.jpg', alt='Card image cap')
      .card-body
        h4.card-title #2 - The Legend of Zelda: Breath of the Wild
        p.card-text
          | Another incredibly successful and influential series that is recognized outside of the industry as well as in, a new Zelda game is on every gamers mind right now. Regardless of if Zelda meets your tastes as a gamer, it’s difficult not to comprehend its legacy and appeal. Breath of the Wild was Nintendo’s showpiece at this years E3 in LA and it came away with a ton of awards. Nintendo are clearly putting a lot of time, effort an dedication to the game and the reception will surely show that when it finally gets released later this year for The Switch and the Wii U.
        h6.card-title Trailer:
          .card-footer
            iframe(width='560', height='315', src='https://www.youtube.com/embed/1rPxiXXxftE', frameborder='0', allowfullscreen='')

  .card-group
    .card.bg-secondary
      img.card-img-top(src='/img/HZD.jpg', alt='Card image cap')
      .card-body
        h4.card-title #3 - Horizon Zero Dawn
        p.card-text
          | Good open-world games are, at their core, ambitious and have depth and breadth. The studio behind the Killzone series – Guerrilla Games – looks like they will add to those characteristics when they release their semi-futuristic open-world game Horizon Zero Dawn in early 2017. The game look stunning at the very least and was recently showcased to demonstrate the HDR and 4K capabilities of the PS4 Pro. The game will be a Sony exclusive and sets to expand the canon of open-world games.
        h6.card-title Trailer:
          .card-footer
            iframe(width='560', height='315', src='https://www.youtube.com/embed/RRQDqurZJNk', frameborder='0', allowfullscreen='')

    .card.bg-primary
      img.card-img-top(src='/img/MGS.jpg', alt='Card image cap')
      .card-body
        h4.card-title #4 - Metal Gear Survive
        p.card-text
          | Although not welcome to an overly warm welcome when it was announced earlier this year, Metal Gear Survive marks the first game with leading director Hideo Kojima and the first time that the series has gone fully open-world and online. The game so far features some crazy elements such as a world that looks very similar to The Phantom Pain but filled with glow-eyed zombies. Wondering if D-Dog will make a comeback too? Find out next year when MGS: Survive drops.
        h6.card-title Trailer:
          .card-footer
            iframe(width='560', height='315', src='https://www.youtube.com/embed/X3hjRKGrC40', frameborder='0', allowfullscreen='')

  .card-group
    .card.bg-primary
      img.card-img-top(src='/img/Destiny2.jpg', alt='Card image cap')
      .card-body
        h4.card-title #5 - Destiny 2
        p.card-text
        | There is no denying the popularity of Destiny’s world and mechanics. The game developed by legendary study Bungie, brought back the grind. Grind for levels, upgrades, items. Gamers have put some serious hours into the open-world shooter. Next up? A sequel surely. Although there has been in-depth content released post-release such as the large expansions, gamers will want a fully-fledged progressive sequel. The game is only in the rumor stage at the moment, but it’s looking very likely that Bungie will want to capitalize on the success of the first game.
      h6.card-title Trailer:
        .card-footer
          iframe(width='560', height='315', src='https://www.youtube.com/embed/hdWkpbPTpmE', frameborder='0', allowfullscreen='')

    .card.bg-secondary
      img.card-img-top(src='/img/GRW.jpg', alt='Card image cap')
      .card-body
        h4.card-title #6 - Ghost Recon Wildlands
        p.card-text
          | The Ghost Recon series has always been known for having short, sweet and structured single-player campaigns. That changes next year with Ubisoft’s much anticipated Ghost Recon: Wildlands. Instead of your standard futuristic multiplayer fare, the game turns more towards the international drug trafficking trade and the special forces that have been tasked with bringing it down. So far it sort of looks like Sicario: The Video Game. Not that that’s such a bad thing. Wildlands looks like it could be a hell of a load of fun when played with friends, taking down the open-world of South America one kilo of cocaine at a time.
        h6.card-title Trailer:
          .card-footer
            iframe(width='560', height='315', src='https://www.youtube.com/embed/6dL9swgpYgM', frameborder='0', allowfullscreen='')

  .card-group.pb-5.mb-5
    .card.bg-secondary
      img.card-img-top(src='/img/MassEffectAndromeda.jpg', alt='Card image cap')
      .card-body
        h4.card-title #7 - Mass Effect Andromeda
        p.card-text
          | Another beloved franchise, a new addition to the Mass Effect series is long overdue. The new title, Andromeda, will hope to fill the void that Commander Shepard left at the end of Mass Effect 3. The open world form that this game takes is different from the first two games which were more structured around story arcs and character developments. But the gameplay of those games always left open the possibility for an open-world shift. Now, you as as your own commander, can travel space and make your own stories, craft your own unique relationships with all manner of space creatures. Very exciting indeed.
        h6.card-title Trailer:
          .card-footer
            iframe(width='560', height='315', src='https://www.youtube.com/embed/X6PJEmEHIaY', frameborder='0', allowfullscreen='')

    .card.bg-primary
      img.card-img-top(src='/img/cyberpunk2077.jpg', alt='Card image cap')
      .card-body
        h4.card-title #8 - Cyberpunk 2077
        p.card-text
          | Everyone wants to know exactly what CD Projekt Red are doing next. Witcher 3: The Wild Hunt was one of those rare releases that manages to maintain good sales as well as a ridiculous number of high critic review and games awards. Seriously – Witcher 3 garnered a seriously impressive number of awards for its narrative, gameplay design and its stunning visuals. Naturally, audiences want to see that success replicated in what venture CDPR decide to pursue next. That venture is a dystopian/steampunk inspired game set in an open-world with a “seamless multiplayer” design. Stay tuned to see if the game can beat the awards won by its predecessor.
        h6.card-title Trailer:
          .card-footer
            iframe(width='560', height='315', src='https://www.youtube.com/embed/0FSwbteN7Ck', frameborder='0', allowfullscreen='')
